[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "fingerPro"]
	path = fingerPro
	url = https://github.com/cran/fingerPro
	shallow = true
	registered = true
